#generate{
  
  background: none;
  border: 2px solid #0099cc;
  color: #0099cc; 
}

#quote-layout{
  border:solid;
  width:700px;
  margin:auto;
  margin-top: 30vh;
}

#author{
  text-align:right;
}

#heart{
  float:right;
}