body {
  font-family: "Love Ya Like A Sister";
}

.btn:focus,
.btn:active {
  outline: 0 !important;
}

h1 {
  font-size: 80px;
}

#favorites-list {
  border: solid;
  width: 300px;
}

#quote-layout {
  width: 1000px;
  margin: auto;
  margin-top: 25vh;
}

#author {
  text-align: right;
}

#heart {
  float: right;
  background: none;
  font-size: 20px;
  padding: 0;
}

#content .glyphicon-heart {
  color: red;
}

#list .glyphicon-heart {
  font-size: 30px;
}

.badge {
  margin-left: -14px;
  font-size: 10px;
}

.btn-lg {
  z-index: 100000000000;
}

.modal-author{
  text-align:right;
}

#list {
  background: none;
  padding: 0;
  display: inline-block;
  position: fixed;
  margin-left: 30px;
  margin-top: -35px;
  ;
}